/Client/nbproject/private/
/Client/build/
/Client/dist/

/Picking/nbproject/private/
/Picking/build/
/Picking/dist/

/ServerMultiThread/nbproject/private/
/ServerMultiThread/build/
/ServerMultiThread/dist/
