
# Compiled class file
*.class

private.properties

/Client/nbproject/private/
/Client/build/
/Client/dist/
/Client/nbproject/private/private.properties/


/Server/nbproject/private/
/Server/build/
/Server/dist/
/Server/nbproject/private/private.properties/

/Server/nbproject/private/private.xml
/Server/nbproject/private/private.properties


/Server/dist/
/ExNihilio/nbproject/private/
/ExNihilio/build/